include LICENSE
include AUTHORS
include ChangeLog
include tendrl-gluster-integration.service
include version.py
include Makefile
exclude .gitignore
exclude .gitreview
graft docs
graft etc
graft tendrl
graft selinux
global-exclude *.pyc
