include LICENSE
include AUTHORS
include ChangeLog
include tendrl-gluster-integration.service
include version.py
exclude .gitignore
exclude .gitreview
graft docs
graft etc
graft tendrl
global-exclude *.pyc
