# use latest version from develop branch on github
git+https://github.com/Tendrl/commons.git@develop
# use latest gstatus from master branch on github
git+https://github.com/gluster/gstatus.git@master
-e .
