[Unit]
Description=Tendrl Gluster Daemon to Manage gluster tasks

[Service]
Type=simple
ExecStart=/usr/bin/tendrl-gluster-integration
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
PrivateTmp=false

[Install]
WantedBy=multi-user.target
