[bridge]

favorite_timeout_factor = 3
server_timeout_factor = 3
cluster_contact_threshold = 60
etcd_port = 2379
etcd_connection = 0.0.0.0

[common]
log_path = /var/log/gluster_bridge/gluster_bridge.log
log_level = DEBUG
