[common]

# Central store etcd port
etcd_port = 2379

# Central store etcd host/ip
etcd_connection = 0.0.0.0

# Path to log file
log_cfg_path = /etc/tendrl/common_logging.yaml
log_level = DEBUG


[gluster-integration]
# Path to log file
log_level = DEBUG
log_cfg_path = /etc/tendrl/logging.yaml
