[bridge_common]

# Central store etcd port
etcd_port = 2379

# Central store etcd host/ip
etcd_connection = 0.0.0.0

# Path to log file
log_path = /var/log/tendrl/bridge_common.log
log_level = DEBUG


[gluster_bridge]
# Path to log file
log_level = DEBUG
log_cfg_path = /etc/tendrl/logging.yaml
