etcd_port: 2379
etcd_connection: 0.0.0.0
logging_socket_path: /var/run/tendrl/message.sock

# Directory to store tendrl managed brick mounts
gluster_bricks_dir: /tendrl_gluster_bricks

# turns on internal profiling and saves stats at /var/lib/tendrl/profiling/gluster_integration/ on service stop  (Note: profiling requires "pip install GreenletProfiler")
with_internal_profiling: False
