etcd_port: 2379
etcd_connection: 0.0.0.0

# Enable etcd SSL TLS cert based auth options
#etcd_ca_cert_file: /path/to/ca_cert_file.pem
#etcd_cert_file: /path/to/client_cert_file.pem
#etcd_key_file: /path/to/client_key_file.pem

logging_socket_path: /var/run/tendrl/message.sock

# Interval at which Cluster level object sync/alerts are processed. Warning, lower interval will result in more resource consumption
sync_interval: 180

# Directory to store tendrl managed brick mounts
gluster_bricks_dir: /tendrl_gluster_bricks
with_internal_profiling: False
